.login{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: #111;
    padding: 3rem;
}
.container1{
    width: 50%;
}
.container2{
    width: 50%;
    display: flex;
}
.inputfield{
    width: 100%;
    border-radius: 1.5rem;
    background-color: #1fcec237;
    border: 1px solid #1FCEC3;
    padding: 0.5rem;
    color: white;
}

.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vw;
    width: 100vw;
    height: 100vh;
    background-size: cover;
}
.icon{
    color: #1FCEC3;
    font-size: large;
}
.label{
    color: #1FCEC3;
}
.loginButton{
    all: unset;
    background-color:#0decdd;
    display: flex;
    border-radius: 1.5rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}
.loginButton:hover{
    background-color: #1FCEC3;
}
.p1{
    color: white;
    text-align: center;
}
.h1{
    margin: 2rem;
    text-align: center;
    font-weight: 100%;
    color:#1FCEC3;
    width: 100%;
}
.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.buttonContainerItem{
    width: 2rem;
    height: 0.1rem;
    background-color: black;
}


